* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.aliko-card {
    position: relative;
}

.socials-md{
    width: 100%;
    display: flex;
    justify-content: center;
}

.socials-md .social-links{
    display: flex;
    gap: 3em;
}

.socials-md svg{
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    box-sizing: inherit;
    max-width: 100%;
    vertical-align: middle;
    fill: none;
    width: 20px;
    height: 20px;
}

.aliko-card img {
    display: block;
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.aliko-card .overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90%;
    height: 100%;
    z-index: -1;
    border: 5px solid #f90;
    opacity: 0.5;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.aliko-card:hover img {
    transform: translate(-20px, -20px);
}

.aliko-card:hover .overlay {
    transform: translate(20px, 20px);
    opacity: 1;
}




.text-theme{
    color:#8892b0;
}

.skills-list{
    color:#8892b0;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
    overflow: hidden;
}

ul.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
    font-size: 14px;
    line-height: 12px;

}



.resume-btn {
    color: #fef;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 4px;
    padding: 0.3rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    margin-left: 15px;
    font-size: var(--fz-xs);
}


.project{
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
}

.project .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20em;
    padding: 2.5em 1.5em ;
    background-color: #112240;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project .content:hover{
    transform: translateY(-10px);
}
.project-tech-list{
    color: #a8b2d1;
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
    font-size: 12px;
}

.project-description{
    color: #a8b2d1;
    font-size: 15px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    margin: 1.3em 0;
}

.project-title{
    margin-top: 0.5em;
    font-size: 22px
}

.project-title:hover{
    color: #de8900;
    font-size: 22.5px;

}

.project-title a{
    text-decoration: none;
    color: #ccd6f6;
}

.project-header{
    display:flex;
    justify-content: space-between;
}

.feather-folder{
    stroke: #f90;
}

.feather{
    width: 40px;
    height: 40px;
}

.project-links{
    display: flex;
    gap: 1em;
}

.project-links a svg {
    width: 20px;
    height: 20px;
}


.side-left-ul{
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
    color: var(--light-slate);
    box-sizing: inherit;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 320px;
    display:flex;
    justify-content: space-between;
}



.side-left-ul svg{
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
    list-style: none;
    text-decoration-skip-ink: auto;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    box-sizing: inherit;
    max-width: 100%;
    vertical-align: middle;
    fill: none;
    width: 20px;
    height: 20px;
}

.side-left-ul::after{
    content: "";
    display: block;
    width: 0px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}


.side-left{
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --fz-xl: 20px;
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
    box-sizing: inherit;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
}

.card-bg-theme{
    background-color: #17130c;
    color: white;
}

.side-right{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --fz-xl: 18px;
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
    box-sizing: inherit;
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 40px;
    left: auto;
    z-index: 10;
    color: var(--light-slate);
    margin-bottom: 100px;
}

.card-bg-theme{
    background-color: #17130c;
    color: white;
}


.card {
    border: none;
}

.project-card {
    height: 5em;
}

.project-headline {
    font-weight: 800;
    font-size: 65px;
    color:#f90;
    line-height: 72px;
    width: max-content;
    max-width: 100%;
    margin-bottom: 16px;
    padding: 58px 0px 16px;
}

.hr-short {
    width: 64px;
    height: 6px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0) linear-gradient(270deg, rgb(255, 144, 0) 0%, rgb(70, 69, 69) 100%) repeat scroll 0% 0%;
}

/*.horse-aside{
  background-image: url('images/logo-aside.png');
  background-position:top left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
 !* border: 1px orange solid;*!
}*/

.intro-box {
    position: relative;
    /*background-image: url('images/pattern-1.png');*/
}

@keyframes rotating {

    to {
        -ms-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transform-origin: initial;
        -moz-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -moz-transform: rotate(359deg);
    }
}


.intro-box::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("images/pattern-1.png") no-repeat;
    background-position: right;
    background-size: contain;
    /*transform:rotate(359deg);*/
    /*animation: rotation 2s ease-in infinite;*/
    background-blend-mode: multiply;
    /*animation: rotating 2s linear infinite;
    -webkit-animation: rotating 7s linear infinite;
    -moz-animation: rotating 7s linear infinite;
    -ms-animation: rotating 7s linear infinite;
    -o-animation: rotating 7s linear infinite;*/

}

.bg-black {
    background-color: #000;
}

.bg-theme {
    background-color: #f90;
    color: black;
}

.hr {
    width: 50px;
    height: 3px;
    margin: 20px auto;
    border: 0px none;
    background: rgb(9, 8, 8) none repeat scroll 0% 0%;
}

.footer-section {
    width: calc(-96px + 100vw);
    max-width: 1040px;
    padding: 2rem 48px 40px;
    margin: 1rem auto;
    box-sizing: content-box;
}

.footer-ul {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, minmax(85px, 220px));
    gap: 40px;
    padding: 40px 0px 28px;
}

.footer-list-item {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    width: 100%;
}

.call-header {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 16px;
}

.call-link {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 16px;
    transition: all 0.3s ease 0s;
    position: relative;
    left: 0px;
}


.email-header {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 16px;
}

.email-link {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 16px;
    transition: all 0.3s ease 0s;
    position: relative;
    left: 0px;
}


.social-links {
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.st0 {
    fill: #020002
}

.st1 {
    fill: #ffffff
}

.tech-skill-ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 3rem 0px;
}

.technology-p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.75);
}

.tech-skill-li {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.tech-writeup {
    max-width: 800px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 3.6rem;
    color: rgba(255, 255, 255, 0.5);
}

body {
    background-color: #0a192f;
    font-family: 'Space Grotesk', sans-serif;
}

a.nav-link {
    color: #f90;
}

p.description-p {
    max-width: 800px;
    font-size: 1.0rem;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    padding-bottom: 3.6rem;
    color: rgba(255, 255, 255, 0.5);
}

.side-background {
    background-image: url("./images/logo.png");
    height: 630px;
}

.greeting_headline {
    font-weight: 900;
    font-size: 3.8em;
    line-height: 45px;
    width: max-content;
    max-width: 100%;
    color: #de8900;
    margin-bottom: 16px;
    padding: 0.2em 0;
}


@media screen and (max-width: 576px) {
    .side-left, .side-right{
        display:none;
    }
    .project-heading-h3{
        font-size: 1.3em;
    }

    .rd-container {
        padding: 0;
        margin: 0;
    }

    br {
        display: block; /* makes it have a width */
        content: ""; /* clears default height */
        margin: 0 10px; /* change this to whatever height you want it */
    }

    h2.greeting_headline {
        font-size: 2em;
        line-height: initial;
        /*// height:7em;*/
    }

    .horse-aside {
        display: none;
        /* border: 1px orange solid;*/
    }

    p.description-p {
        font-size: 1.2em;
    }

   /* .intro-box {
        background: none;
    }*/

    .intro-box::before {
        background: none;
    }
}

@media screen and (max-width: 768px) {
    .side-left, .side-right{
        display:none;
    }

    .intro-box::before {
        background: none;
    }

    br {
        display: block; /* makes it have a width */
        content: ""; /* clears default height */
        margin: 0 10px; /* change this to whatever height you want it */
    }

    h2.greeting_headline {
        font-size: 3em;
        line-height: initial;
        /*// height:7em;*/
    }

    .p.description-p {
        font-size: 1.4em;
    }


    .horse-aside {
        display: none;
    }

    .intro-box {
        background: none;
    }
}

@media screen and (min-width: 768px) {
    .socials-md{
        display: none;
    }
}